{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>
<div class="container">
  <div class="card">
    <div class="container">
      <h1><p>Set a new password!</p></h1>
    </div>
    <div class="card-body">
      <form method="POST">
        <div class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
        <input type="submit" value="Change my password">
      </form>
    </div>
  </div>
</div>
{% endblock %}
