
{% extends 'base.html' %}

{% block title %}Página Principal{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <div class="container" style="background: #efefef">
  <div class="p-5">
      Hi {{ user.username }}!
  </div>
 </div>
  <a href="/logout">Logout</a>
{% else %}
  <div class="container">
    <div class="card">
        <div class="card-body">
          <h1><p>You are not logged in</p></h1>
          <hr>
          <a class="card-link" href="{% url 'login' %}">login</a>
        </div>
    </div>
  </div>
{% endif %}
{% endblock %}
