{% extends 'base.html' %}

{% block title %}Inscripcion Exitosa{% endblock %}

{% block content %}
<div class="container">
        <div class="card">
            <div class="card-body">
                {% if flag %}
                    <h1>Ya estabas inscrito al evento {{this_event.nombre}}</h1>
                    {% for b in boleto%}
                        <h2>Tu codigo de boleto es: {{b.id}}</h2>
                    {%endfor%}
                {% else %}
                    <h1>Te haz inscrito exitosamente al evento: {{this_event.nombre}}</h1>
                    {% for b in boleto%}
                        <h2>Tu codigo de boleto es: {{b.id}}</h2>
                    {%endfor%}
                {% endif %}
              <hr>
              
            </div>
        </div>
      </div>

{% endblock %}