{% extends 'base.html' %}

{% block title %}Crear Cuenta{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <br><br>
    <h1><p class="text-light">Creación de Usuario</p></h1>
    <br><br>
    <div class="grey lighten-2">
      
      <form method="POST" >
        <div class="form-group">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
